body{
    background-color:  #666666;
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 90%;
    height: 1200px;
    background-color: #999900;
    margin: auto;
}
.menu{
    
}
.content{
    
}
.bigFooter{
    
}
.footer{
    
}