body{
     margin-top: 50px;
}
a{
    color: white;
    background-color:navy;
    display: block;
    width:15%;
    height: 70px;
    text-decoration: none;
    text-align: center;
    margin: auto;
    padding-top: 25px;
    padding-bottom:5px;
  
   font-family: cursive;
   transition: 1s ease-in;
   border-radius:5px;
    
    
}
a:hover{
    background-color: white;
    color: black;
}